node_modules
.next
out
.env
.env.local
*.log
.DS_Store
prisma/dev.db
prisma/dev.db-journal
prisma/dev.local.db
prisma/dev.local.db-journal
# 误操作可能产生的嵌套目录 / 本地库文件
prisma/prisma/

*.tsbuildinfo

# Local Netlify folder
.netlify
